<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/e930349d-9137-4a7f-af1c-d1cb2221555b/resourcegroups/ww-rg/providers/Microsoft.Web/sites/HumongousHAPI</ResourceId>
    <ResourceGroup>ww-rg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://humongoushapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d11cc17b-a232-4b52-878e-76f5976dd09e</ProjectGuid>
    <PublishUrl>https://humongoushapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$HumongousHAPI</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>